In [58]:
import os
import pandas as pd

In [59]:
x2 = pd.read_csv("/media/haley/My Book/Ecoli_results/Ecoli_ARETE_Results_Organized/09062023_EvolCCM/EvolCCM_EvolCCM_all_features_crosstab.txt.X2",  delimiter='\t')
pvalue = pd.read_csv("/media/haley/My Book/Ecoli_results/Ecoli_ARETE_Results_Organized/09062023_EvolCCM/EvolCCM_EvolCCM_all_features_crosstab.txt.pvals",  delimiter='\t')

In [60]:
x2.head()

,AMR_ANT.3....IIa,AMR_APH.3....Ib,AMR_APH.6..Id,AMR_EC.14,AMR_EC.8,AMR_Escherichia.coli.GlpT.with.mutation.conferring.resistance.to.fosfomycin,AMR_Escherichia.coli.UhpT.with.mutation.conferring.resistance.to.fosfomycin,AMR_Escherichia.coli.ampC.beta.lactamase,AMR_Escherichia.coli.cyaA.with.mutation.conferring.resistance.to.fosfomycin,AMR_TEM.1,...,BACMET_ybtP,BACMET_ybtQ,BACMET_yjaA,gtrB,hcp,iucB,iucC,iucD,iutA,iucA
AMR_ANT.3....IIa,NaN,6.423012,-0.553624,2.150814,0.058567,-2.257080,3.581545,3.371519,0.028745,5.983120,...,4.497687,4.497687,4.950792,-4.255510,-3.050682,NaN,NaN,NaN,NaN,NaN
AMR_APH.3....Ib,6.423012,NaN,7.038503,4.302303,-3.561669,-4.284969,3.419512,0.878353,-3.915740,6.124760,...,1.401772,1.401772,3.504218,-0.579471,5.313070,NaN,NaN,NaN,NaN,NaN
AMR_APH.6..Id,-0.553624,7.038503,NaN,4.866902,-3.951651,-5.110458,-2.450706,4.471834,-4.403867,6.402295,...,0.649306,0.649306,3.742559,-4.878028,-3.695482,2989.095938,2989.095938,2989.095938,NaN,NaN
AMR_EC.14,2.150814,4.302303,4.866902,NaN,0.001911,-0.007434,0.006692,-0.009679,-0.007748,0.877816,...,4.519246,4.519246,-0.466121,-4.141330,4.488413,NaN,NaN,NaN,NaN,NaN
AMR_EC.8,0.058567,-3.561669,-3.951651,0.001911,NaN,0.000275,0.015143,-0.005357,0.008388,1.044056,...,-0.354630,-0.354630,4.521200,4.791298,-2.138576,NaN,NaN,NaN,NaN,NaN

In [61]:
x2['Row_Name'] = x2.columns

In [62]:
melted_x2 = x2.set_index('Row_Name').stack().reset_index()

In [63]:
melted_x2.columns = ['Row_Name', 'Column_Name', 'X2']

In [64]:
melted_x2

,Row_Name,Column_Name,X2
0,AMR_ANT.3....IIa,AMR_APH.3....Ib,6.423012
1,AMR_ANT.3....IIa,AMR_APH.6..Id,-0.553624
2,AMR_ANT.3....IIa,AMR_EC.14,2.150814
3,AMR_ANT.3....IIa,AMR_EC.8,0.058567
4,AMR_ANT.3....IIa,AMR_Escherichia.coli.GlpT.with.mutation.confer...,-2.257080
...,...,...,...
40411,iucA,espY4,2072.953299
40412,iucA,fdeC,2678.931138
40413,iucA,gspL,3415.797658
40414,iucA,shuT,12467.217601
40415,iucA,tssJ,4917.532932

In [65]:
pvalue.head()

,AMR_ANT.3....IIa,AMR_APH.3....Ib,AMR_APH.6..Id,AMR_EC.14,AMR_EC.8,AMR_Escherichia.coli.GlpT.with.mutation.conferring.resistance.to.fosfomycin,AMR_Escherichia.coli.UhpT.with.mutation.conferring.resistance.to.fosfomycin,AMR_Escherichia.coli.ampC.beta.lactamase,AMR_Escherichia.coli.cyaA.with.mutation.conferring.resistance.to.fosfomycin,AMR_TEM.1,...,BACMET_ybtP,BACMET_ybtQ,BACMET_yjaA,gtrB,hcp,iucB,iucC,iucD,iutA,iucA
AMR_ANT.3....IIa,NaN,1.336042e-10,5.798361e-01,0.031491,0.953297,2.400308e-02,0.000342,0.000748,0.977068,2.189034e-09,...,0.000007,0.000007,7.391203e-07,0.000021,2.283222e-03,NaN,NaN,NaN,NaN,NaN
AMR_APH.3....Ib,1.336042e-10,NaN,1.943112e-12,0.000017,0.000369,1.827644e-05,0.000627,0.379752,0.000090,9.082060e-10,...,0.160983,0.160983,4.579507e-04,0.562272,1.077936e-07,NaN,NaN,NaN,NaN,NaN
AMR_APH.6..Id,5.798361e-01,1.943112e-12,NaN,0.000001,0.000078,3.213780e-07,0.014258,0.000008,0.000011,1.530587e-10,...,0.516141,0.516141,1.821554e-04,0.000001,2.194698e-04,0.0,0.0,0.0,NaN,NaN
AMR_EC.14,3.149088e-02,1.690321e-05,1.133611e-06,NaN,0.998476,9.940686e-01,0.994660,0.992277,0.993818,3.800437e-01,...,0.000006,0.000006,6.411290e-01,0.000035,7.175583e-06,NaN,NaN,NaN,NaN,NaN
AMR_EC.8,9.532966e-01,3.685050e-04,7.761378e-05,0.998476,NaN,9.997806e-01,0.987918,0.995726,0.993308,2.964593e-01,...,0.722867,0.722867,6.149011e-06,0.000002,3.246998e-02,NaN,NaN,NaN,NaN,NaN

In [66]:
pvalue['Row_Name'] = pvalue.columns

In [67]:
melted_pvalue = pvalue.set_index('Row_Name').stack().reset_index()

In [68]:
melted_pvalue.columns = ['Row', 'Column', 'Pvalue']

In [69]:
melted_pvalue

,Row,Column,Pvalue
0,AMR_ANT.3....IIa,AMR_APH.3....Ib,1.336042e-10
1,AMR_ANT.3....IIa,AMR_APH.6..Id,5.798361e-01
2,AMR_ANT.3....IIa,AMR_EC.14,3.149088e-02
3,AMR_ANT.3....IIa,AMR_EC.8,9.532966e-01
4,AMR_ANT.3....IIa,AMR_Escherichia.coli.GlpT.with.mutation.confer...,2.400308e-02
...,...,...,...
40411,iucA,espY4,0.000000e+00
40412,iucA,fdeC,0.000000e+00
40413,iucA,gspL,0.000000e+00
40414,iucA,shuT,0.000000e+00
40415,iucA,tssJ,0.000000e+00

In [72]:
melted_x2['Combined_Column'] = melted_x2['Row_Name'] + ' - ' + melted_x2['Column_Name'].astype(str)
melted_pvalue['Combined_Column'] = melted_pvalue['Row'] + ' - ' + melted_pvalue['Column'].astype(str)

In [73]:
melted_x2

,Row_Name,Column_Name,X2,Combined_Column
0,AMR_ANT.3....IIa,AMR_APH.3....Ib,6.423012,AMR_ANT.3....IIa - AMR_APH.3....Ib
1,AMR_ANT.3....IIa,AMR_APH.6..Id,-0.553624,AMR_ANT.3....IIa - AMR_APH.6..Id
2,AMR_ANT.3....IIa,AMR_EC.14,2.150814,AMR_ANT.3....IIa - AMR_EC.14
3,AMR_ANT.3....IIa,AMR_EC.8,0.058567,AMR_ANT.3....IIa - AMR_EC.8
4,AMR_ANT.3....IIa,AMR_Escherichia.coli.GlpT.with.mutation.confer...,-2.257080,AMR_ANT.3....IIa - AMR_Escherichia.coli.GlpT.w...
...,...,...,...,...
40411,iucA,espY4,2072.953299,iucA - espY4
40412,iucA,fdeC,2678.931138,iucA - fdeC
40413,iucA,gspL,3415.797658,iucA - gspL
40414,iucA,shuT,12467.217601,iucA - shuT
40415,iucA,tssJ,4917.532932,iucA - tssJ

In [74]:
merged_df = melted_x2.merge(melted_pvalue, on='Combined_Column', how='inner')

In [75]:
merged_df.head()

,Row_Name,Column_Name,X2,Combined_Column,Row,Column,Pvalue
0,AMR_ANT.3....IIa,AMR_APH.3....Ib,6.423012,AMR_ANT.3....IIa - AMR_APH.3....Ib,AMR_ANT.3....IIa,AMR_APH.3....Ib,1.336042e-10
1,AMR_ANT.3....IIa,AMR_APH.6..Id,-0.553624,AMR_ANT.3....IIa - AMR_APH.6..Id,AMR_ANT.3....IIa,AMR_APH.6..Id,5.798361e-01
2,AMR_ANT.3....IIa,AMR_EC.14,2.150814,AMR_ANT.3....IIa - AMR_EC.14,AMR_ANT.3....IIa,AMR_EC.14,3.149088e-02
3,AMR_ANT.3....IIa,AMR_EC.8,0.058567,AMR_ANT.3....IIa - AMR_EC.8,AMR_ANT.3....IIa,AMR_EC.8,9.532966e-01
4,AMR_ANT.3....IIa,AMR_Escherichia.coli.GlpT.with.mutation.confer...,-2.257080,AMR_ANT.3....IIa - AMR_Escherichia.coli.GlpT.w...,AMR_ANT.3....IIa,AMR_Escherichia.coli.GlpT.with.mutation.confer...,2.400308e-02

In [76]:
# List of column names to remove
columns_to_remove = ['Row', 'Column', "Combined_Column"]

# Remove columns by name
merged_df = merged_df.drop(columns=columns_to_remove)

In [84]:
merged_df.to_csv("09122023_EvolCCM_reformatted_pairs_x2_pvalue.csv")

In [81]:
#Choose the column for which you want to count NaN values
column_name = 'X2'

# Count NaN values in the selected column
nan_count = merged_df[column_name].isna().sum()

nan_count

0

In [82]:
column_name = 'X2'

# Count 'NaN' as a string in the selected column
nan_count = (merged_df[column_name] == 'NaN').sum()

# Print the number of 'NaN' values in the column
print(f"Number of 'NaN' as a string in {column_name}: {nan_count}")

Number of 'NaN' as a string in X2: 0

In [87]:
# Set the threshold value for filtering
threshold_value = 0.05

# Filter the DataFrame based on the 'pvalue' column
filtered_df_05 = merged_df[merged_df['Pvalue'] < threshold_value]

filtered_df_05

,Row_Name,Column_Name,X2,Pvalue
0,AMR_ANT.3....IIa,AMR_APH.3....Ib,6.423012,1.336042e-10
2,AMR_ANT.3....IIa,AMR_EC.14,2.150814,3.149088e-02
4,AMR_ANT.3....IIa,AMR_Escherichia.coli.GlpT.with.mutation.confer...,-2.257080,2.400308e-02
5,AMR_ANT.3....IIa,AMR_Escherichia.coli.UhpT.with.mutation.confer...,3.581545,3.415681e-04
6,AMR_ANT.3....IIa,AMR_Escherichia.coli.ampC.beta.lactamase,3.371519,7.475483e-04
...,...,...,...,...
40411,iucA,espY4,2072.953299,0.000000e+00
40412,iucA,fdeC,2678.931138,0.000000e+00
40413,iucA,gspL,3415.797658,0.000000e+00
40414,iucA,shuT,12467.217601,0.000000e+00
40415,iucA,tssJ,4917.532932,0.000000e+00

In [88]:
# Set the threshold value for filtering
threshold_value = 0.00001

# Filter the DataFrame based on the 'pvalue' column
filtered_df_00001 = merged_df[merged_df['Pvalue'] < threshold_value]

filtered_df_00001

               Row_Name      Column_Name            X2        Pvalue
0      AMR_ANT.3....IIa  AMR_APH.3....Ib      6.423012  1.336042e-10
8      AMR_ANT.3....IIa        AMR_TEM.1      5.983120  2.189034e-09
11     AMR_ANT.3....IIa   AMR_qacEdelta1      4.969037  6.728608e-07
12     AMR_ANT.3....IIa         AMR_sul1      4.969037  6.728608e-07
14     AMR_ANT.3....IIa            AA175      5.782285  7.369284e-09
...                 ...              ...           ...           ...
40411              iucA            espY4   2072.953299  0.000000e+00
40412              iucA             fdeC   2678.931138  0.000000e+00
40413              iucA             gspL   3415.797658  0.000000e+00
40414              iucA             shuT  12467.217601  0.000000e+00
40415              iucA             tssJ   4917.532932  0.000000e+00

[6952 rows x 4 columns]

In [ ]:
#cut off as 5%-95% prevelance in the dataset

In [89]:
x2_2 = pd.read_csv("/media/haley/My Book/Ecoli_results/Ecoli_ARETE_Results_Organized/09062023_EvolCCM/ECCM_0.05_0.95/EvolCCM_EvolCCM_all_features_crosstab.txt.X2", delimiter='\t')
pvalue_2 = pd.read_csv("/media/haley/My Book/Ecoli_results/Ecoli_ARETE_Results_Organized/09062023_EvolCCM/ECCM_0.05_0.95/EvolCCM_EvolCCM_all_features_crosstab.txt.pvals", delimiter='\t')

In [90]:
x2_2['Row_Name'] = x2_2.columns
melted_x2_2 = x2_2.set_index('Row_Name').stack().reset_index()
melted_x2_2.columns = ['Row_Name', 'Column_Name', 'X2']

In [91]:
pvalue_2['Row_Name'] = pvalue_2.columns
melted_pvalue_2 = pvalue_2.set_index('Row_Name').stack().reset_index()
melted_pvalue_2.columns = ['Row', 'Column', 'Pvalue']

In [93]:
melted_x2_2['Combined_Column'] = melted_x2_2['Row_Name'] + ' - ' + melted_x2_2['Column_Name'].astype(str)
melted_pvalue_2['Combined_Column'] = melted_pvalue_2['Row'] + ' - ' + melted_pvalue_2['Column'].astype(str)

In [94]:
merged_df_2 = melted_x2_2.merge(melted_pvalue_2, on='Combined_Column', how='inner')

In [95]:
# List of column names to remove
columns_to_remove = ['Row', 'Column', "Combined_Column"]

# Remove columns by name
merged_df_2 = merged_df_2.drop(columns=columns_to_remove)

In [96]:
#Choose the column for which you want to count NaN values
column_name = 'X2'

# Count NaN values in the selected column
nan_count = merged_df_2[column_name].isna().sum()

nan_count

0

In [97]:
column_name = 'X2'

# Count 'NaN' as a string in the selected column
nan_count = (merged_df_2[column_name] == 'NaN').sum()

# Print the number of 'NaN' values in the column
print(f"Number of 'NaN' as a string in {column_name}: {nan_count}")

Number of 'NaN' as a string in X2: 0

In [98]:
merged_df_2.to_csv("09132023_EvolCCM_reformatted_pairs_x2_pvalue_5-95.csv")

In [101]:
# Set the threshold value for filtering
threshold_value = 0.05

# Filter the DataFrame based on the 'pvalue' column
filtered_df_05_2 = merged_df_2[merged_df_2['Pvalue'] < threshold_value]

filtered_df_05_2.to_csv("09132023_EvolCCM_5-95_0.05_cutoff.csv")

In [102]:
# Set the threshold value for filtering
threshold_value = 0.00001

# Filter the DataFrame based on the 'pvalue' column
filtered_df_00001_2 = merged_df_2[merged_df_2['Pvalue'] < threshold_value]

filtered_df_00001_2.to_csv("09132023_EvolCCM_5-95_0.00001_cutoff.csv")

In [ ]:
#make filtered 0.00001 5-95 csv for all the plasmids
filtered_df = df[df['Column'].str.contains(target_string)]

In [105]:
filtered_df_AA163 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AA163")]
filtered_df_AA163.to_csv("09142023_EvolCCM_AA163.csv")
filtered_df_AA163.head()

     Row_Name       Column_Name        X2        Pvalue
6318    AA163  AMR_ANT.3....IIa  7.546322  4.485301e-14
6320    AA163   AMR_APH.3....Ib  7.302665  2.822187e-13
6321    AA163    AMR_APH.3...Ia  6.973874  3.083311e-12
6325    AA163          AMR_EC.8  5.550844  2.842943e-08
6334    AA163    AMR_qacEdelta1  5.850163  4.910921e-09

In [106]:
filtered_df_AA175 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AA175")]
filtered_df_AA175.to_csv("09142023_EvolCCM_AA175.csv")
filtered_df_AA175.head()

     Row_Name       Column_Name        X2        Pvalue
6574    AA175    AMR_AAC.3..IId  8.667586  0.000000e+00
6576    AA175  AMR_ANT.3....IIa  5.782285  7.369284e-09
6578    AA175   AMR_APH.3....Ib  5.604747  2.085596e-08
6580    AA175     AMR_APH.6..Id  5.812901  6.139934e-09
6589    AA175         AMR_TEM.1  5.521504  3.361094e-08

In [107]:
filtered_df_AA176 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AA176")]
filtered_df_AA176.to_csv("09142023_EvolCCM_AA176.csv")
filtered_df_AA176.head()

     Row_Name                Column_Name        X2        Pvalue
6839    AA176           AMR_ANT.3....IIa  8.110642  4.440892e-16
6851    AA176  AMR_Escherichia.coli.emrE -4.918616  8.715836e-07
6852    AA176                  AMR_TEM.1  6.096666  1.083033e-09
6853    AA176                   AMR_gadW -4.746760  2.067012e-06
6857    AA176                   AMR_sul2  5.667900  1.445585e-08

In [108]:
filtered_df_AA178 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AA178")]
filtered_df_AA178.to_csv("09142023_EvolCCM_AA178.csv")
filtered_df_AA178.head()

     Row_Name       Column_Name        X2        Pvalue
7091    AA178  AMR_ANT.3....IIa  4.490077  7.119728e-06
7111    AA178        AMR_tet.B.  4.595949  4.307834e-06
7112    AA178          AMR_tetR  4.612248  3.983378e-06
7123    AA178             AB238  4.708069  2.500744e-06
7124    AA178             AB241  4.892272  9.967850e-07

In [109]:
filtered_df_AA179 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AA179")]
filtered_df_AA179.to_csv("09142023_EvolCCM_AA179.csv")
filtered_df_AA179.head()

     Row_Name Column_Name        X2        Pvalue
7366    AA179   AMR_TEM.1  6.992789  2.694733e-12
7373    AA179  AMR_tet.B.  5.868848  4.388325e-09
7384    AA179       AA979 -4.831929  1.352168e-06
7385    AA179       AB238  6.892954  5.464518e-12
7386    AA179       AB241  6.381855  1.749552e-10

In [110]:
filtered_df_AA281 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AA281")]
filtered_df_AA281.to_csv("09142023_EvolCCM_AA281.csv")
filtered_df_AA281.head()

     Row_Name       Column_Name        X2        Pvalue
7614    AA281    AMR_AAC.3..IId  7.232047  4.758416e-13
7616    AA281  AMR_ANT.3....IIa  5.755761  8.625254e-09
7618    AA281   AMR_APH.3....Ib  6.690933  2.217515e-11
7620    AA281     AMR_APH.6..Id  7.001196  2.537970e-12
7629    AA281         AMR_TEM.1  5.446268  5.143762e-08

In [111]:
filtered_df_AA315 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AA315")]
filtered_df_AA315.to_csv("09142023_EvolCCM_AA315.csv")
filtered_df_AA315.head()

     Row_Name       Column_Name        X2        Pvalue
7882    AA315    AMR_AAC.3..VIa  6.556446  5.510525e-11
7883    AA315  AMR_ANT.3....IIa  4.619529  3.846121e-06
7901    AA315          AMR_sul2  6.330420  2.444953e-10
7916    AA315             AB241  6.751528  1.462963e-11
7918    AA315             AB685  8.001055  1.332268e-15

In [113]:
filtered_df_AA329 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AA329")]
filtered_df_AA329.to_csv("09142023_EvolCCM_AA329.csv")
filtered_df_AA329

     Row_Name                Column_Name           X2        Pvalue
8147    AA329           AMR_ANT.3....IIa     5.223921  1.751732e-07
8149    AA329            AMR_APH.3....Ib     6.732636  1.666156e-11
8159    AA329  AMR_Escherichia.coli.emrE    -7.053197  1.748601e-12
8162    AA329                   AMR_mdtM     6.032096  1.618464e-09
8166    AA329                 AMR_tet.A.    -4.891876  9.987925e-07
...       ...                        ...          ...           ...
8338    AA329                       tssM     7.168749  7.569501e-13
8365    AA329           BACMET_mdtM.yjiO     6.036004  1.579775e-09
8392    AA329                       etgA     6.434516  1.238674e-10
8396    AA329                        fha    -5.101819  3.364048e-07
8402    AA329                       iucA  2737.944621  0.000000e+00

[96 rows x 4 columns]

In [114]:
filtered_df_AA378 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AA378")]
filtered_df_AA378.to_csv("09142023_EvolCCM_AA378.csv")
filtered_df_AA378

     Row_Name      Column_Name        X2        Pvalue
8408    AA378  AMR_APH.3....Ib  6.667986  2.593370e-11
8410    AA378    AMR_APH.6..Id  7.218002  5.275780e-13
8424    AA378         AMR_sul2  5.074660  3.881894e-07
8426    AA378       AMR_tet.B.  7.390391  1.463274e-13
8427    AA378         AMR_tetR  7.432182  1.068035e-13
...       ...              ...       ...           ...
8657    AA378             etpA  5.135443  2.814799e-07
8658    AA378             etpB  5.135443  2.814799e-07
8660    AA378              fha  5.955562  2.591800e-09
8665    AA378             ybtA  5.884209  3.999618e-09
8666    AA378            AA668  5.617406  1.938455e-08

[101 rows x 4 columns]

In [115]:
filtered_df_AA474 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AA474")]
filtered_df_AA474.to_csv("09142023_EvolCCM_AA474.csv")
filtered_df_AA474

,Row_Name,Column_Name,X2,Pvalue
8667,AA474,AMR_AAC.3..IId,6.283089,3.319105e-10
8669,AA474,AMR_ANT.3....IIa,5.778302,7.545819e-09
8671,AA474,AMR_APH.3....Ib,4.758616,1.949246e-06
8680,AA474,AMR_Escherichia.coli.cyaA.with.mutation.confer...,4.881475,1.052955e-06
8682,AA474,AMR_TEM.1,4.908613,9.172284e-07
...,...,...,...,...
8901,AA474,BACMET_opmD.nmpC,-5.074104,3.893262e-07
8914,AA474,BACMET_yjaA,5.897592,3.688437e-09
8920,AA474,etpA,5.155985,2.523017e-07
8921,AA474,etpB,5.155985,2.523017e-07
8929,AA474,AA668,5.740787,9.423758e-09

In [116]:
filtered_df_AA979 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AA979")]
filtered_df_AA979.to_csv("09142023_EvolCCM_AA979.csv")
filtered_df_AA979

     Row_Name       Column_Name        X2        Pvalue
8930    AA979    AMR_AAC.3..IId -5.296153  1.182680e-07
8932    AA979  AMR_ANT.3....IIa  7.236847  4.591882e-13
8934    AA979   AMR_APH.3....Ib  6.947852  3.708811e-12
8947    AA979          AMR_mdtM  4.644294  3.412415e-06
8951    AA979        AMR_tet.A.  6.881686  5.914824e-12
...       ...               ...       ...           ...
9154    AA979       BACMET_kpnO -5.473732  4.406555e-08
9155    AA979  BACMET_mdtM.yjiO  4.644206  3.413872e-06
9164    AA979  BACMET_opmD.nmpC  5.791017  6.996155e-09
9167    AA979       BACMET_sitC  4.775962  1.788502e-06
9192    AA979             AA668  8.410300  0.000000e+00

[68 rows x 4 columns]

In [117]:
filtered_df_AB238 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AB238")]
filtered_df_AB238.to_csv("09142023_EvolCCM_AB238.csv")
filtered_df_AB238

     Row_Name       Column_Name        X2        Pvalue
9193    AB238    AMR_AAC.3..IId  6.160369  7.257552e-10
9194    AB238    AMR_AAC.3..VIa  7.334332  2.229328e-13
9195    AB238  AMR_ANT.3....IIa  7.678685  1.598721e-14
9197    AB238   AMR_APH.3....Ib  6.582803  4.616596e-11
9198    AB238    AMR_APH.3...Ia  7.147510  8.837375e-13
...       ...               ...       ...           ...
9447    AB238              fimA -5.694176  1.239695e-08
9448    AB238              fimB -6.516592  7.192269e-11
9449    AB238              fimC -5.694176  1.239695e-08
9450    AB238              fimD -5.694176  1.239695e-08
9452    AB238             AA668  4.865505  1.141648e-06

[143 rows x 4 columns]

In [118]:
filtered_df_AB241 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AB241")]
filtered_df_AB241.to_csv("09142023_EvolCCM_AB241.csv")
filtered_df_AB241

     Row_Name                Column_Name        X2        Pvalue
9453    AB241             AMR_AAC.3..IId  6.923871  4.394707e-12
9454    AB241             AMR_AAC.3..VIa  5.060443  4.182842e-07
9455    AB241           AMR_ANT.3....IIa  7.608745  2.775558e-14
9458    AB241             AMR_APH.3...Ia  5.006959  5.529671e-07
9467    AB241  AMR_Escherichia.coli.emrE -6.267839  3.660927e-10
...       ...                        ...       ...           ...
9701    AB241                       etpA  5.238848  1.615821e-07
9702    AB241                       etpB  5.238848  1.615821e-07
9703    AB241                       fdeC -6.024291  1.698521e-09
9704    AB241                        fha  6.364362  1.961029e-10
9710    AB241                      AA668  6.679801  2.392664e-11

[175 rows x 4 columns]

In [119]:
filtered_df_AB443 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AB443")]
filtered_df_AB443.to_csv("09142023_EvolCCM_AB443.csv")
filtered_df_AB443

     Row_Name       Column_Name        X2        Pvalue
9743    AB443             AA378  5.766989  8.070035e-09
9746    AB443             AB238  7.160374  8.044676e-13
9945    AB443  BACMET_opmD.nmpC  5.289552  1.226160e-07

In [120]:
filtered_df_AB685 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AB685")]
filtered_df_AB685.to_csv("09142023_EvolCCM_AB685.csv")
filtered_df_AB685

      Row_Name      Column_Name            X2        Pvalue
9974     AB685   AMR_AAC.3..IId      6.637646  3.187317e-11
9975     AB685   AMR_AAC.3..VIa      4.769726  1.844770e-06
9978     AB685  AMR_APH.3....Ib      6.887297  5.686340e-12
9979     AB685   AMR_APH.3...Ia      5.390341  7.032401e-08
9980     AB685    AMR_APH.6..Id      8.430298  0.000000e+00
...        ...              ...           ...           ...
10227    AB685             fimD     -4.748620  2.048096e-06
10229    AB685             iucB -54024.129902  0.000000e+00
10230    AB685             iucC -54024.129902  0.000000e+00
10231    AB685             iucD -54024.129902  0.000000e+00
10232    AB685            AA668      7.334319  2.229328e-13

[154 rows x 4 columns]

In [121]:
filtered_df_AB687 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AB687")]
filtered_df_AB687.to_csv("09142023_EvolCCM_AB687.csv")
filtered_df_AB687

      Row_Name       Column_Name        X2        Pvalue
10233    AB687    AMR_AAC.3..IId  6.924881  4.363399e-12
10234    AB687    AMR_AAC.3..VIa  6.271648  3.572473e-10
10235    AB687  AMR_ANT.3....IIa  7.585570  3.308465e-14
10237    AB687   AMR_APH.3....Ib  7.783758  7.105427e-15
10238    AB687    AMR_APH.3...Ia  6.226416  4.772263e-10
...        ...               ...       ...           ...
10478    AB687              etgA  5.848224  4.968486e-09
10479    AB687              etpA  6.256181  3.945184e-10
10480    AB687              etpB  6.256181  3.945184e-10
10482    AB687               fha  7.395079  1.412204e-13
10487    AB687             AA668  7.339602  2.142730e-13

[170 rows x 4 columns]

In [122]:
filtered_df_AB690 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AB690")]
filtered_df_AB690.to_csv("09142023_EvolCCM_AB690.csv")
filtered_df_AB690

      Row_Name       Column_Name        X2        Pvalue
10488    AB690    AMR_AAC.3..IId  6.219345  4.992338e-10
10489    AB690    AMR_AAC.3..VIa  4.928608  8.281754e-07
10490    AB690  AMR_ANT.3....IIa  8.071847  6.661338e-16
10492    AB690   AMR_APH.3....Ib  7.578964  3.486100e-14
10493    AB690    AMR_APH.3...Ia  4.430626  9.395985e-06
...        ...               ...       ...           ...
10742    AB690              fimA -4.864204  1.149182e-06
10743    AB690              fimB -5.817547  5.971762e-09
10744    AB690              fimC -4.864204  1.149182e-06
10745    AB690              fimD -4.864204  1.149182e-06
10746    AB690              ybtA  7.234945  4.656275e-13

[193 rows x 4 columns]

In [123]:
filtered_df_AB745 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AB745")]
filtered_df_AB745.to_csv("09142023_EvolCCM_AB745.csv")
filtered_df_AB745

      Row_Name       Column_Name        X2        Pvalue
10750    AB745  AMR_ANT.3....IIa  6.358034  2.043516e-10
10752    AB745   AMR_APH.3....Ib  6.193627  5.879517e-10
10763    AB745         AMR_TEM.1  5.741341  9.392998e-09
10768    AB745          AMR_sul2  6.078852  1.210460e-09
10770    AB745        AMR_tet.B.  6.478344  9.273493e-11
...        ...               ...       ...           ...
11001    AB745              etpA  5.890438  3.851733e-09
11002    AB745              etpB  5.890438  3.851733e-09
11004    AB745               fha  4.468723  7.868784e-06
11009    AB745              ybtA  5.853704  4.807439e-09
11010    AB745             AA668  6.406470  1.489271e-10

[98 rows x 4 columns]

In [125]:
filtered_df_AC509 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AC509")]
filtered_df_AC509.to_csv("09142023_EvolCCM_AC509.csv")
filtered_df_AC509

      Row_Name      Column_Name         X2        Pvalue
11015    AC509  AMR_APH.3....Ib   6.948709  3.686385e-12
11032    AC509       AMR_tet.A.   5.171741  2.319231e-07
11035    AC509            AA163  10.199651  0.000000e+00
11045    AC509            AA979   7.644859  2.087219e-14
11050    AC509            AB687   9.873048  0.000000e+00
11066    AC509             chuA   6.392311  1.633966e-10
11067    AC509             chuS   6.752118  1.457012e-11
11068    AC509             chuT   6.975285  3.052447e-12
11069    AC509             chuU   6.630912  3.336198e-11
11070    AC509             chuV   6.630912  3.336198e-11
11071    AC509             chuW   6.630912  3.336198e-11
11072    AC509             chuX   6.630912  3.336198e-11
11073    AC509             chuY   6.630912  3.336198e-11
11109    AC509            espX5  -6.208336  5.354861e-10
11116    AC509             fyuA   6.200359  5.633451e-10
11117    AC509         fyuA.psn   6.200359  5.633451e-10
11134    AC509         hcp.tssD   4.531308  5.861965e-06
11136    AC509       hcp1.tssD1  -4.818998  1.442808e-06
11138    AC509             iroB   4.558169  5.160141e-06
11139    AC509             iroC   4.558169  5.160141e-06
11140    AC509             iroD   4.518548  6.226508e-06
11142    AC509             iroN   4.448862  8.632650e-06
11143    AC509             irp1   6.352532  2.117999e-10
11181    AC509              pic   6.780997  1.193490e-11
11187    AC509         rhs.PAAR  -4.775302  1.794381e-06
11192    AC509            set1A   7.302304  2.828848e-13
11193    AC509            set1B   7.302304  2.828848e-13
11196    AC509             shuA   6.392311  1.633966e-10
11197    AC509             shuS   6.752118  1.457012e-11
11198    AC509             shuT   6.975285  3.052447e-12
11199    AC509             shuU   6.630912  3.336198e-11
11200    AC509             shuV   6.630912  3.336198e-11
11201    AC509             shuX   6.630912  3.336198e-11
11202    AC509             shuY   6.630912  3.336198e-11
11203    AC509             tssA  -4.882110  1.049565e-06
11211    AC509        vgrG.tssI  -5.014129  5.327412e-07
11218    AC509             ybtE   6.200359  5.633451e-10
11219    AC509             ybtP   6.352532  2.117999e-10
11220    AC509             ybtQ   6.352532  2.117999e-10
11221    AC509             ybtS   6.352532  2.117999e-10
11222    AC509             ybtT   6.352532  2.117999e-10
11223    AC509             ybtU   6.352532  2.117999e-10
11224    AC509             ybtX   6.352532  2.117999e-10
11233    AC509      BACMET_fecD   5.096414  3.461476e-07
11234    AC509      BACMET_fecE   5.060506  4.181458e-07
11255    AC509      BACMET_ybtP   6.352532  2.117999e-10
11256    AC509      BACMET_ybtQ   6.352532  2.117999e-10
11272    AC509             ybtA   6.400214  1.551592e-10

In [126]:
filtered_df_AC748 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AC748")]
filtered_df_AC748.to_csv("09142023_EvolCCM_AC748.csv")
filtered_df_AC748

      Row_Name       Column_Name           X2        Pvalue
11276    AC748  AMR_ANT.3....IIa     6.755624  1.422218e-11
11278    AC748   AMR_APH.3....Ib     6.615255  3.709122e-11
11294    AC748          AMR_sul2     4.504717  6.646134e-06
11296    AC748        AMR_tet.B.     6.893976  5.425438e-12
11297    AC748          AMR_tetR     7.648235  2.042810e-14
11309    AC748             AB238     7.076396  1.479483e-12
11310    AC748             AB241     5.713406  1.107368e-08
11312    AC748             AB685     4.753276  2.001467e-06
11314    AC748             AB690     5.595285  2.202597e-08
11317    AC748          AAA92657     4.539211  5.646510e-06
11329    AC748              chuA     4.437412  9.104692e-06
11340    AC748             east1     4.731324  2.230602e-06
11407    AC748              irp2     4.618009  3.874397e-06
11455    AC748             set1A     6.726224  1.741229e-11
11456    AC748             set1B     6.726224  1.741229e-11
11459    AC748              shuA     4.437412  9.104692e-06
11492    AC748       BACMET_arsH     7.526480  5.218048e-14
11536    AC748              iucA  3377.652498  0.000000e+00
11537    AC748             AA668     7.417389  1.194600e-13

In [127]:
filtered_df_AA668 = filtered_df_00001_2[filtered_df_00001_2['Row_Name'].str.contains("AA668")]
filtered_df_AA668.to_csv("09142023_EvolCCM_AA668.csv")
filtered_df_AA668

,Row_Name,Column_Name,X2,Pvalue
69402,AA668,AMR_ANT.3....IIa,6.353366,2.106539e-10
69404,AA668,AMR_APH.3....Ib,6.138969,8.305898e-10
69410,AA668,AMR_Escherichia.coli.GlpT.with.mutation.confer...,-4.750375,2.030396e-06
69412,AA668,AMR_Escherichia.coli.ampC.beta.lactamase,4.647403,3.361397e-06
69415,AA668,AMR_TEM.1,5.623228,1.874222e-08
...,...,...,...,...
69657,AA668,fimA,-4.500069,6.793155e-06
69659,AA668,fimC,-4.500069,6.793155e-06
69660,AA668,fimD,-4.500069,6.793155e-06
69661,AA668,ybtA,5.446442,5.138743e-08
69662,AA668,iutA,18847.047000,0.000000e+00